h1{background-color:lightblue;color:purple;text-align:center;font-family:monospace;border:5px double blue;}
p{font-size:18px;font-weight:medium;font-family:cursive}
h2{text-decoration:blink;}
img{border:8px inset purple;}
body{background-color:lightblue;}
ol{list-style-type:lower-roman;font-size:15px;font-family:verdana;}
ul{font-family:sans-serif;}
